.animation {
  animation: 2s ani forwards;
}

@keyframes ani {
  to {
    left: 1166.15625px;
    top: 21px;
  }
}

@media only screen and (max-width: 1326px) {
  @keyframes ani {
    to {
      left: 1129.5px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1300px) {
  @keyframes ani {
    to {
      left: 1100.5px;
      top: 21px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  @keyframes ani {
    to {
      left: 1100px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1280px) {
  @keyframes ani {
    to {
      left: 1080px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1260px) {
  @keyframes ani {
    to {
      left: 1060px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1240px) {
  @keyframes ani {
    to {
      left: 1040px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1220px) {
  @keyframes ani {
    to {
      left: 1020px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  @keyframes ani {
    to {
      left: 1000px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1180px) {
  @keyframes ani {
    to {
      left: 980px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1160px) {
  @keyframes ani {
    to {
      left: 960px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1140px) {
  @keyframes ani {
    to {
      left: 940px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1120px) {
  @keyframes ani {
    to {
      left: 920px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  @keyframes ani {
    to {
      left: 900px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1080px) {
  @keyframes ani {
    to {
      left: 880px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1060px) {
  @keyframes ani {
    to {
      left: 860px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1040px) {
  @keyframes ani {
    to {
      left: 840px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1020px) {
  @keyframes ani {
    to {
      left: 820px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  @keyframes ani {
    to {
      left: 800px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 980px) {
  @keyframes ani {
    to {
      left: 780px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 960px) {
  @keyframes ani {
    to {
      left: 760px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 940px) {
  @keyframes ani {
    to {
      left: 740px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 920px) {
  @keyframes ani {
    to {
      left: 720px;
      top: 21px;
    }
  }
}

@media only screen and (max-width: 830px) {
  @keyframes ani {
    to {
      left: 675px;
      top: 21px;
    }
  }
}

@media only screen and (max-width: 830px) {
  @keyframes ani {
    to {
      left: 675px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 820px) {
  @keyframes ani {
    to {
      left: 665px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 810px) {
  @keyframes ani {
    to {
      left: 655px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 800px) {
  @keyframes ani {
    to {
      left: 645px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 790px) {
  @keyframes ani {
    to {
      left: 635px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 780px) {
  @keyframes ani {
    to {
      left: 625px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 770px) {
  @keyframes ani {
    to {
      left: 615px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 760px) {
  @keyframes ani {
    to {
      left: 605px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 750px) {
  @keyframes ani {
    to {
      left: 595px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 740px) {
  @keyframes ani {
    to {
      left: 585px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 730px) {
  @keyframes ani {
    to {
      left: 575px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 720px) {
  @keyframes ani {
    to {
      left: 565px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 710px) {
  @keyframes ani {
    to {
      left: 555px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 700px) {
  @keyframes ani {
    to {
      left: 545px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 690px) {
  @keyframes ani {
    to {
      left: 535px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 680px) {
  @keyframes ani {
    to {
      left: 525px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 670px) {
  @keyframes ani {
    to {
      left: 515px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 660px) {
  @keyframes ani {
    to {
      left: 505px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 650px) {
  @keyframes ani {
    to {
      left: 495px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 640px) {
  @keyframes ani {
    to {
      left: 485px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 630px) {
  @keyframes ani {
    to {
      left: 475px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 620px) {
  @keyframes ani {
    to {
      left: 465px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 610px) {
  @keyframes ani {
    to {
      left: 455px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 600px) {
  @keyframes ani {
    to {
      left: 445px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 590px) {
  @keyframes ani {
    to {
      left: 435px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 580px) {
  @keyframes ani {
    to {
      left: 425px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 570px) {
  @keyframes ani {
    to {
      left: 415px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 560px) {
  @keyframes ani {
    to {
      left: 405px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 550px) {
  @keyframes ani {
    to {
      left: 395px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 540px) {
  @keyframes ani {
    to {
      left: 385px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 530px) {
  @keyframes ani {
    to {
      left: 375px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 520px) {
  @keyframes ani {
    to {
      left: 365px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 510px) {
  @keyframes ani {
    to {
      left: 355px;
      top: 21px;
    }
  }
}

@media only screen and (max-width: 510px) {
  @keyframes ani {
    to {
      left: 370px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 500px) {
  @keyframes ani {
    to {
      left: 360px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 490px) {
  @keyframes ani {
    to {
      left: 350px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 480px) {
  @keyframes ani {
    to {
      left: 340px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 470px) {
  @keyframes ani {
    to {
      left: 330px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 460px) {
  @keyframes ani {
    to {
      left: 320px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 450px) {
  @keyframes ani {
    to {
      left: 310px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 440px) {
  @keyframes ani {
    to {
      left: 300px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 430px) {
  @keyframes ani {
    to {
      left: 290px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 420px) {
  @keyframes ani {
    to {
      left: 283px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 410px) {
  @keyframes ani {
    to {
      left: 276px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 400px) {
  @keyframes ani {
    to {
      left: 269px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 390px) {
  @keyframes ani {
    to {
      left: 262px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 380px) {
  @keyframes ani {
    to {
      left: 255px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 370px) {
  @keyframes ani {
    to {
      left: 248px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 360px) {
  @keyframes ani {
    to {
      left: 241px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 350px) {
  @keyframes ani {
    to {
      left: 234px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 340px) {
  @keyframes ani {
    to {
      left: 227px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 330px) {
  @keyframes ani {
    to {
      left: 220px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 320px) {
  @keyframes ani {
    to {
      left: 213px;
      top: 21px;
    }
  }
}
@media only screen and (max-width: 310px) {
  @keyframes ani {
    to {
      left: 206px;
      top: 21px;
    }
  }
}
